<?xml version="1.0" ?>
<robot name="mini_bot" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find mini_test_bot_description)/urdf/materials.xacro" />
<xacro:include filename="$(find mini_test_bot_description)/urdf/mini_bot.trans" />
<xacro:include filename="$(find mini_test_bot_description)/urdf/mini_bot.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="-0.0012935573396905598 0.004391904265854084 0.06553826042457221" rpy="0 0 0"/>
    <mass value="1.1581051286795596"/>
    <inertia ixx="0.003548" iyy="0.001788" izz="0.004399" ixy="5.7e-05" iyz="-3.7e-05" ixz="6e-06"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find mini_test_bot_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find mini_test_bot_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="front_left_wheel_1">
  <inertial>
    <origin xyz="-0.01785163380713846 6.975256592392509e-07 1.1847046393939631e-05" rpy="0 0 0"/>
    <mass value="1.3439679932196131"/>
    <inertia ixx="0.001192" iyy="0.000764" izz="0.000764" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.0524 -0.048198 -0.039824" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find mini_test_bot_description)/meshes/front_left_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.0524 -0.048198 -0.039824" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find mini_test_bot_description)/meshes/front_left_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="back_left_wheel_1">
  <inertial>
    <origin xyz="-0.017851633807138487 5.519453677854669e-07 1.1847046393939631e-05" rpy="0 0 0"/>
    <mass value="1.3439679932196131"/>
    <inertia ixx="0.001192" iyy="0.000764" izz="0.000764" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.0524 0.0488 -0.039824" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find mini_test_bot_description)/meshes/back_left_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.0524 0.0488 -0.039824" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find mini_test_bot_description)/meshes/back_left_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="back_right_wheel_1">
  <inertial>
    <origin xyz="0.017851631327585306 -4.724764268021486e-08 1.1558418481098787e-05" rpy="0 0 0"/>
    <mass value="1.3439679932196131"/>
    <inertia ixx="0.001192" iyy="0.000764" izz="0.000764" ixy="0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.0525 0.048198 -0.039824" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find mini_test_bot_description)/meshes/back_right_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.0525 0.048198 -0.039824" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find mini_test_bot_description)/meshes/back_right_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="front_right_wheel_1">
  <inertial>
    <origin xyz="0.017851631327585264 9.833264889153037e-08 1.1558418481098787e-05" rpy="0 0 0"/>
    <mass value="1.3439679932196131"/>
    <inertia ixx="0.001192" iyy="0.000764" izz="0.000764" ixy="0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.0525 -0.0488 -0.039824" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find mini_test_bot_description)/meshes/front_right_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.0525 -0.0488 -0.039824" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find mini_test_bot_description)/meshes/front_right_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="imu_1">
  <inertial>
    <origin xyz="-2.533430932642744e-07 -8.140326502453776e-08 0.0014999812104297683" rpy="0 0 0"/>
    <mass value="0.00480341657055649"/>
    <inertia ixx="0.0" iyy="0.0" izz="0.0" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.019916 -0.032084 -0.080678" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find mini_test_bot_description)/meshes/imu_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.019916 -0.032084 -0.080678" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find mini_test_bot_description)/meshes/imu_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="lidar_base_1">
  <inertial>
    <origin xyz="-1.6250394564536197e-07 -2.6296449656681986e-07 0.00249997930308124" rpy="0 0 0"/>
    <mass value="0.02774419012201485"/>
    <inertia ixx="2e-06" iyy="2e-06" izz="3e-06" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.006233 0.029029 -0.092678" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find mini_test_bot_description)/meshes/lidar_base_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.006233 0.029029 -0.092678" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find mini_test_bot_description)/meshes/lidar_base_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="lidar_1">
  <inertial>
    <origin xyz="-1.625039456332189e-07 -2.6296449655988097e-07 0.004999979303081187" rpy="0 0 0"/>
    <mass value="0.055488380244029696"/>
    <inertia ixx="4e-06" iyy="4e-06" izz="6e-06" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.006233 0.029029 -0.097678" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find mini_test_bot_description)/meshes/lidar_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.006233 0.029029 -0.097678" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find mini_test_bot_description)/meshes/lidar_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="Revolute 1" type="continuous">
  <origin xyz="-0.0524 0.048198 0.039824" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="front_left_wheel_1"/>
  <axis xyz="1.0 -0.0 -0.0"/>
</joint>

<joint name="Revolute 2" type="continuous">
  <origin xyz="-0.0524 -0.0488 0.039824" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="back_left_wheel_1"/>
  <axis xyz="1.0 -0.0 -0.0"/>
</joint>

<joint name="Revolute 3" type="continuous">
  <origin xyz="0.0525 -0.048198 0.039824" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="back_right_wheel_1"/>
  <axis xyz="1.0 0.0 0.0"/>
</joint>

<joint name="Revolute 4" type="continuous">
  <origin xyz="0.0525 0.0488 0.039824" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="front_right_wheel_1"/>
  <axis xyz="1.0 0.0 0.0"/>
</joint>

<joint name="Rigid 8" type="fixed">
  <origin xyz="0.019916 0.032084 0.080678" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="imu_1"/>
</joint>

<joint name="Rigid 9" type="fixed">
  <origin xyz="0.006233 -0.029029 0.092678" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="lidar_base_1"/>
</joint>

<joint name="Rigid 10" type="fixed">
  <origin xyz="0.0 0.0 0.005" rpy="0 0 0"/>
  <parent link="lidar_base_1"/>
  <child link="lidar_1"/>
</joint>

</robot>
